@import "../../../styles/constants";

.continue-btn {
  background-color: #04aa6d;
  color: white;
  font-size: 2rem;
  border-radius: $border-radius;
  transition: all 0.2s linear;

  &:hover {
    background-color: #59b493;
    // color: black;
  }
}
