@import "../../../styles/constants";

.table-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    display: flex;
    gap: 5px;
  }
  .refetch-table-btn {
    cursor: pointer;
    filter: $filter-blue-3;

    &:hover {
      filter: $filter-blue-4;
    }
  }
}

table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

.table {
  width: 100%;
}

thead {
  background-color: $color-grey-2;
  color: #fff;
}

th,
td {
  padding: 10px;
}

td {
  text-align: left;
}

.table-header-cell {
  cursor: pointer;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__arrows {
      display: flex;

      svg {
        $sort-arrow-size: 30px;
        cursor: pointer;
        height: $sort-arrow-size;
        width: $sort-arrow-size;
        color: $color-blue-3;

        &:hover {
          color: $color-blue-4;
        }

        &.circle {
          color: #63ccff;
        }
      }
    }
  }
}
