@import "../../../styles/constants";

table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
}

.table {
  width: 100%;
}

thead {
  background-color: $color-grey-2;
  color: #fff;
}

th,
td {
  padding: 10px;
}

td {
  text-align: left;
}

.table-header-cell {
  cursor: pointer;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__arrows {
      display: flex;
      //   flex-direction: column;

      svg {
        $sort-arrow-size: 30px;
        cursor: pointer;
        height: $sort-arrow-size;
        width: $sort-arrow-size;
        color: #919cb1;

        &.circle {
          color: #63ccff;
        }

        // &:hover {
        //     fill: rgb(24, 172, 122);
        // }
      }
    }
  }
}
